
<!DOCTYPE html>
<html lang="en">
<% include partial/header.ejs %>
<body>
<% include partial/nav.ejs %>

<div class="container">
    <h1>Members Area</h1>
    <p>Welcome to the members area</p>
    <%- messages()%>

</div>

</body>
</html>